<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is trail sesseion</title>
</head>
<body>
<form action="analyze" method="get">

    <textarea name ='text' style="margin: 0px; width: 1278px; height: 67px;"> </textarea><br><br>
    <input type="checkbox" name="removepunc"> Remove punction <br><br>
    <input type="checkbox" name="fullcaps"> UPPER CASE <br><br>
    <input type="checkbox" name="newline"> Newline remover <br><br>
    <input type="checkbox" name="extraSpaceremover"> ExtraSpaces Remover <br><br>
    <button type="submit"> Analyze</button>

{{name}} is from {{place}}<br>
welcome here please give your introduction
</form>
</body>
</html>